<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Study</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
    <body>
        <header> 
            <h1> What is Machine Learning </h1>
        </header>
        <hr />
        <nav>
            <a href="/"> Home </a>  
            <a href="/standards"> Best Practices </a>
            <a href="/examples"> ML In practice </a>
            <a href="/resources"> Learn/Improve on ML here </a>
        </nav>
        <br />