<%- include('partials/header.ejs') %>

<main>
    <figure>
        <img src="img/applications-of-machine-learning.jpg" style="width: 600px; height: 400px;" alt="Picture of ML ">
    </figure>
    <div>
        <p style="font-size: 20px;"> <i> Machine learning Best Practices/Keywords </i> </p>
        <ul>
            <li> <em> Natural Language Processing </em> </li>
            <li> Netflix uses machine learning to curate which tv shows and movies best fit your interests based on the different tv shows and movies you've watched in the past.  </li>
            <li> <em> Supervised Learning </em></li>
            <li> Yelp uses machine learning to sort pictures based on the restaurant and type of food. </li>
            <li> <em> Unsupervised Learning</em> </li>
            <li> Self Driving Cars uses machine learning to predict their surroundings and predict how other cars react. </li>
            <li> <em> Reinforcement Learning </em></li>
            <li>  Words go here </li>
        </ul>
    </div>
</main>

<%- include('partials/footer.ejs') %>