<%- include('partials/header.ejs') %>


<br />

<main>
    <figure>
        <img src="img/MLmain.jpg" style="width: 600px; height: 400px;" alt="Picture of ML ">
    </figure>
    <div>
       <h4 style="color: white"> <i> Today we will be hacking with <b style="color: red"> <%= random %> </b> technology </i> </h4> 
       <h3>  <i style="font-size: 20px;"> Machine learning uses algorithms that automatically learn on it's own with the data given to it. </i> </h3>
        <p> It is a form of AI where the program teaches itself using past data. </p>
    </div>

</main>

<%- include('partials/footer.ejs') %>