<%- include('partials/header.ejs') %>

<main>
    <figure>
        <img src="img/machine-learning-in-education.png" style="width: 600px; height: 400px;" alt="Picture of ML ">
    </figure>
    <div>
        <p style="font-size: 20px;"> <i> Machine Learning Resources </i> </p>
        <ul>
            <li> <em> Coursera.org </em></li>
            <li> <a href="coursera.org"> Coursera </a> Has a bunch of courses, that dive into the basics of Machine Learning. <a href="https://www.coursera.org/learn/machine-learning"> This </a>  machine learning course is a popular one. </li>
            <li> <em> A course by Prof. Yaser Abu-Mostafa </em> </li>
            <li> <a href="https://work.caltech.edu/telecourse.html"> This </a> course taught by Prof. Yaser Abu-Mostafa does into depth on best practices of using data and how it works and main concepts of Machine learning.  </li>
            <li> <em> Udacity.com </em> </li>
            <li> <a href="udacity.com"> Udacity </a> has a couple of courses that teach you the basics of machine learning like <a href="https://www.udacity.com/course/intro-to-machine-learning--ud120"> this </a> one or others that go deeper into building more complicated projects using machine learning. </li>
        </ul>
    </div>
</main>

<%- include('partials/footer.ejs') %>